.flip-container {
	perspective: 1000px;
	text-align:center;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 320px;
	height: 300px;
	text-align:center;
	margin: 20px;
 /* -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 10px 10px 5px grey;*/
  	vertical-align:middle;
  	position: absolute;
  	left:25%;
	top:15%;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	transform: rotateY(0deg);
	background-color:lightblue;
	box-shadow: 10px 10px 5px grey;
	/*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
	background-color:lightgrey;
	box-shadow: 10px 10px 5px grey;
}
.centered{
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%)
}